<app-nav-recepcionista></app-nav-recepcionista>
<h1 class="text-center" style="padding-top: 30px;">Añadir Habitaciones</h1>
<div class="container-sm" style="padding-top: 40px;">
  <form class="row g-3" [formGroup]="registrarhabitacion" (ngSubmit)="NuevaHabitacion()">
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Caracteristicas</label>
      <input type="text" class="form-control" id="validationDefault02"  formControlName="caracteristicasH" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Tipo Habitacion</label>
      <input type="text" class="form-control" id="validationDefault01"  formControlName="tipoH" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nro Habitacion</label>
      <input type="number" class="form-control" id="validationDefault02" formControlName="nroH" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Precio Habitacion</label>
      <input type="number" class="form-control" id="validationDefault01"  formControlName="precioH" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Piso Habitacion</label>
      <input type="number" class="form-control" id="validationDefault02" formControlName="pisoH"  required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Capacidad</label>
      <input type="number" class="form-control" id="validationDefault01" required formControlName="capacidadH" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Estado</label>
        <input type="text" class="form-control" id="validationDefault01" required formControlName="estadoH" required>
      </div>
    <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Imagen Url</label>
        <input type="string" class="form-control" id="validationDefault01" required formControlName="imagen" required>
      </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Agregar Reserva</button>
    </div>
  </form>
</div>

<div class="container-fluid" style="padding-top:20px;">
    <table class="table align-middle mb-0 bg-white table-bordered">
        <thead class="bg-light">
          <tr>
            <th>Cod Habitacion</th>
            <th>Caracteristicas</th>
            <th>Tipo Habitacion</th>
            <th>Nro Habitacion</th>
            <th>Precio Habitacion</th>
            <th>Piso Habitacion</th>
            <th>Capacidad</th> 
            <th>Estado</th>
            <th>Cambios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let h of habitaciones; index as i">
            <td>{{h.codH}}</td>
            <td>{{h.caracteristicasH}}</td>
            <td>{{h.tipoH}}</td>
            <td>{{h.nroH}}</td>
            <td>{{h.precioH}}</td>
            <td>{{h.pisoH}}</td>
            <td>{{h.capacidadH}}</td>
            <td>{{h.estadoH}}</td>
            <td>
              <button type="button" class="btn btn-success btn-sm" (click)="modificar(i)">Modificar</button>
              <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="eliminarH(i)">Eliminar</button>
          </td> 
          </tr>
    
        </tbody>
      </table>
    
</div>