<nav class="navbar navbar-dark bg-dark justify-content-center">

    <a class="navbar-brand" href="#">
      <img src="/assets/bed_50px.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      SISTEMA DE RESERVAS
    </a>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-light" aria-current="page" routerLink="/clientesReserva">Solicitudes</a>
    </li>
      <li class="nav-item">
        <a class="nav-link  text-light" aria-current="page" routerLink="/registrarHabitaciones">Registrar Habitaciones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" routerLink="/vistaReserva">Vista Reservas</a>
      </li>
    </ul>
</nav>
